<nz-tabset style="margin-top: 8px;" [nzTabPosition]="'left'">
  <nz-tab nzTitle="General">
    <ng-template nz-tab>
      <app-basic-general></app-basic-general>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Type">
    <ng-template nz-tab>
      <app-basic-type></app-basic-type>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Range">
    <ng-template nz-tab>
      <app-basic-range></app-basic-range>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Format">
    <ng-template nz-tab>
      <app-basic-format></app-basic-format>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Limit">
    <ng-template nz-tab>
      <app-basic-limit></app-basic-limit>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Theme">
    <ng-template nz-tab>
      <app-basic-theme></app-basic-theme>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Event">
    <ng-template nz-tab>
      <app-basic-event></app-basic-event>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Custom">
    <ng-template nz-tab>
      <app-basic-custom></app-basic-custom>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Mark">
    <ng-template nz-tab>
      <app-basic-mark></app-basic-mark>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Othen">
    <ng-template nz-tab>
      <app-basic-othen></app-basic-othen>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="ngModel">
    <ng-template nz-tab>
      <app-basic-ngModel></app-basic-ngModel>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="formControlName">
    <ng-template nz-tab>
      <app-basic-formControlName></app-basic-formControlName>
    </ng-template>
  </nz-tab>
</nz-tabset>